/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Importação da fonte Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    vertical-align: baseline;
}

/* Estilização global */
body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/* Cabeçalho */
header {
    text-align: center;
    padding: 20px 0;
    background-color: #008c4a;
    color: white;
    font-weight: 700;
}

/* Seções */
section {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #008c4a;
    color: white;
    font-size: 14px;
    border-radius: 8px;
}

/* Centralizar a classe map-container */
.map-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --------------------------------------------------------- */

.titulo1 {
    text-align: left;
    font-size: 14;
    font-weight: 700;
}